.Navigation {
  background-color: #f5f5f5;
}

.Navigation ul {
  text-align: center;
}

.Navigation ul li{
  list-style-type: none;
  display: inline-block;
  padding: 0 10px;
}

.messagebus {
  font-size: 11px;
  color: #666;
}